## Configure 'ip' variable to bind kubernetes services on a
## different ip than the default iface
do-eldo-1  ansible_host=10.117.72.40   ip=10.117.72.40
do-eldo-2  ansible_host=10.117.69.166  ip=10.117.69.166
do-eldo-3  ansible_host=10.117.77.112  ip=10.117.77.112
do-eldo-4  ansible_host=10.117.77.79   ip=10.117.77.79
do-eldo-5  ansible_host=10.117.69.122  ip=10.117.69.122
do-eldo-6  ansible_host=10.117.72.45   ip=10.117.72.45
do-eldo-7  ansible_host=10.117.74.66   ip=10.117.74.66
do-eldo-8  ansible_host=10.117.71.209  ip=10.117.71.209
do-eldo-9  ansible_host=10.117.71.233  ip=10.117.71.233

## configure a bastion host if your nodes are not directly reachable
#bastion ansible_host=x.x.x.x ansible_user=some_user

[kube-master]
do-eldo-1
do-eldo-2
do-eldo-3

[etcd]
do-eldo-1
do-eldo-2
do-eldo-3

[kube-node]
do-eldo-4
do-eldo-5
do-eldo-6
do-eldo-7
do-eldo-8
do-eldo-9

[kube-ingress]
do-eldo-1
do-eldo-2
do-eldo-3

[gluster]
do-eldo-4
do-eldo-5
do-eldo-6
do-eldo-7
do-eldo-8
do-eldo-9

[openebs]
do-eldo-4
do-eldo-5
do-eldo-6
do-eldo-7
do-eldo-8
do-eldo-9

[k8s-cluster:children]
kube-master
kube-node
kube-ingress
