## Configure 'ip' variable to bind kubernetes services on a
## different ip than the default iface
ci-shroom-1 ansible_host=10.117.73.72  ip=10.117.73.72
ci-shroom-2 ansible_host=10.117.73.255 ip=10.117.73.255
ci-shroom-3 ansible_host=10.117.77.44  ip=10.117.77.44

## configure a bastion host if your nodes are not directly reachable
# bastion ansible_host=x.x.x.x ansible_user=some_user

[kube-master]
ci-shroom-1

[etcd]
ci-shroom-1
ci-shroom-2
ci-shroom-3

[kube-node]
ci-shroom-1
ci-shroom-2
ci-shroom-3

[gluster]
ci-shroom-1
ci-shroom-2
ci-shroom-3

[openebs]
ci-shroom-1
ci-shroom-2
ci-shroom-3

[k8s-cluster:children]
kube-master
kube-node
