# Kubespray inventory file

do-nitro-1    ansible_ssh_host=10.117.29.175  ip=10.117.29.175
do-nitro-2    ansible_ssh_host=10.117.29.176  ip=10.117.29.176
do-nitro-3    ansible_ssh_host=10.117.29.177  ip=10.117.29.177

[all]
do-nitro-1
do-nitro-2
do-nitro-3

[kube-master]
do-nitro-1
do-nitro-2

[kube-node]
do-nitro-1
do-nitro-2
do-nitro-3

[etcd]
do-nitro-1
do-nitro-2
do-nitro-3

[gluster]
do-nitro-1
do-nitro-2
do-nitro-3

[k8s-cluster:children]
kube-node
kube-master

