node1    ansible_ssh_host=10.117.31.21    ip=10.117.31.21
node2    ansible_ssh_host=10.117.31.22    ip=10.117.31.22
node3    ansible_ssh_host=10.117.31.23    ip=10.117.31.23  

[all]
node1
node2
node3

[kube-master]
node1
node2

[kube-node]
node1
node2
node3

[etcd]
node1
node2
node3

[k8s-cluster:children]
kube-node
kube-master

