node1 ansible_ssh_host=10.117.31.1
node2 ansible_ssh_host=10.117.31.2
node3 ansible_ssh_host=10.117.31.3

[kube-master]
node1		
node2		

[all]
node1		
node2		
node3		

[k8s-cluster:children]
kube-node		
kube-master		

[kube-node]
node1		
node2		
node3		

[etcd]
node1		
node2		
node3		

